.container{
  padding: 8px;
  display: flex;
  align-items: center;
}

.header{
  background: #262626;
}

.footer{
  position: fixed;
  left: 16px;
  bottom: 16px;
}

.header-item{
  font-size: 2rem;
  color: #f5f5f5;
  padding-left: 8px;
  padding-right: 8px;
}

.search-input{
  margin-left: auto;
  margin-right: 8px;
}

.weather-container{
  text-align: center;
  padding: 8px;
}

.weather-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-day{
  padding: 8px;
  margin: 8px;
  min-width: 272px;
  border-radius: 3px;
  box-shadow:  0px 4px 6px #26262620, 0px 0px 12px #26262620;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #262626;
}

.weather-day-icon{
  position: absolute;
  left: 8px;
  font-size: 1.4rem;
}

.weather-day-header{
  text-align: center;
  font-weight: 700;
  background: #ffffffaa;
  padding: 4px 8px;
  border-radius: 3px;
}

.weather-day-temperature{
  padding: 8px;
  float: left;
  font-size: 1.5rem;
}

.weather-day-weather{
  padding: 8px;
  float: right;
  font-size: 1.4rem;
  font-weight: 300;
}

.weather-clear{
  background: #ffd666;
}
.weather-clouds{
  background: #adc6ff;
}
.weather-rain{
  background: #87e8de;
}
.weather-snow{
  background: #fafafa;
}

@media (max-width:768px) { 
  .search-input{
    position: fixed;
    right: 16px;
    bottom: 16px;
  }

  .header-item{
    font-size: 1rem;
    padding-left: 8px;
    padding-right: 8px;
  }

  .weather-day{
    min-width: 216px;
  }

  .weather-day-icon{
    left: 4px;
    font-size: 1.2rem;
  }

  .weather-day-temperature{
    padding: 4px;
    font-size: 1.2rem;
  }

  .footer{
    text-align: left;
    height: 88px;
    line-height: 88px;
  }
}