.app {
  padding: 8px;
  text-align: center;
}

.container{
  padding: 8px;
  display: flex;
  align-items: center;
}

.header{
  background: #262626;
}

.footer{
  text-align: right;
  margin: 0 16px 0 16px;
}

.header-item{
  font-size: 2rem;
  color: #f5f5f5;
  padding-left: 8px;
  padding-right: 8px;
}

.search-input{
  margin-left: auto;
  margin-right: 8px;
}

.weather-container{
  text-align: center;
  padding: 8px;
}

.weather-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-day{
  padding: 8px;
  margin: 8px;
  min-width: 176px;
  border-radius: 3px;
  box-shadow:  0px 4px 6px #26262620, 0px 0px 12px #26262620
}

.weather-day-header{
  text-align: center;
  font-weight: 700;
  background: #ffffffaa;
  padding: 0 4px;
  border-radius: 3px;
}

.weather-day-temperature{
  padding: 4px;
  float: left;
  font-size: 1.4rem;
}

.weather-day-weather{
  padding: 8px;
  float: right;
  font-size: 1.4rem;
  font-weight: 300;
}

.weather-clear{
  background: #ffd666;
}
.weather-clouds{
  background: #adc6ff;
}
.weather-rain{
  background: #87e8de;
}
.weather-snow{
  background: #fafafa;
}

@media (max-width:768px) { 
  .search-input{
    position: fixed;
    right: 16px;
    bottom: 16px;
  }
  .footer{
    text-align: left;
    height: 88px;
    line-height: 88px;
  }
}